# ignore all . files and . folders
.*
resources/week-3/datasets/college_scorecard/MERGED2013_14_PP.csv
resources/week-3/datasets/college_scorecard/MERGED2012_13_PP.csv

# Dont ignore .gitignore (this file)
# This is just for verbosity, you can leave it out if
# .gitignore is already tracked or if you use -f to
# force-add it if you just created it
!/.gitignore